.App {
    text-align: center;
}

.cardscss {
    display: flex;
    flex-direction: row;
    margin: 50px;
    text-align: center;
    justify-content: center;
    flex-flow: wrap;
}

.nav_tag {
    background: rgb(106, 106, 248);
    padding: 10px;
    display: flex;
    flex-direction: row;
    font-size: 16px;
    justify-content: space-between;
}

.menu_input {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
}

.menu_icon {
    color: #fff;
    left: 10px;
    margin-left: 5px;

}

.input_tag {
    color: #fff;
    background: rgb(106, 106, 248);
    padding: 5px;
    outline: none;
    outline-style: none;
    border: 2px solid white;
    border-radius: 5px;
    margin-left: 20px;
}

::placeholder {
    color: white;
    opacity: 1;
    /* Firefox */
}

.cls_mail {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;
}

/* .clear_btn {
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    background: rgb(106, 106, 248);
    padding: 5px;
    outline: none;
    outline-style: none;
    margin-right: 20px;
}

.clear_btn:hover {
    cursor: pointer;
    border: 2px solid rgb(106, 106, 248);
    background: white;
    color: rgb(106, 106, 248);
    transform: scale(1.2);
    transition: 1s;
} */

.del_icon {
    color: white;
    margin-left: 20px;
}

.del_icon:hover {
    cursor: pointer;
    color: red;
    transform: scale(1.2);
    transition: 0.5s;
}

.mail_icon {
    color: #fff;
    margin-right: 5px;
}

#add_cart_btn {
    color: black;
    text-align: center;
    justify-content: center;
    border: 1px solid black;
    margin: 0 0 0 100px;
}

#add_cart_btn:hover {
    border: 1px solid white;
    background: black;
    color: white;
    transform: scale(1.1);
    transition: 0.4s;
}

/* @media screen and (max-width: 1400px) {
    .cardscss {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        flex-flow: wrap;
    }
} */